@media (max-width: 1000px) {
  .container {
    margin: 9vh 10vw 0 10vw;
  }
  .icon-container {
    width: 70px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  #me-g .yellow {
    height: 280px;
  }
  .underline-1_5::before,
  .underline-2::before,
  .underline-2_5::before,
  .underline-3::before,
  .underline-3_5::before,
  .underline-4::before,
  .underline-4_5::before,
  .underline-5::before,
  .underline-5_5::before,
  .underline-6::before,
  .underline-6_5::before,
  .underline-7::before,
  .underline-7_5::before,
  .underline-8::before,
  .underline-8_5::before,
  .underline-9::before,
  .underline-9_5::before,
  .underline-10_5::before,
  .underline-12::before,
  .underline-12_5::before,
  .underline-13::before,
  .underline-13_5::before,
  .underline-14::before,
  .underline-14_5::before,
  .underline-15::before {
    content: none;
  }
}
@media (max-width: 850px) {
  .c1-6,
  .c7-10,
  .c1-4,
  .c2-5,
  .c2-6,
  .c1-5,
  .c1-3,
  .c10-12,
  .c5-10,
  .c4-10,
  .c6-10,
  .c2-11 {
    grid-column: 1/13;
    padding: 0;
  }
  .icon-info {
    font-size: 10px;
    opacity: 1;
  }
  .info-hover {
    margin-bottom: 40px;
  }
  .img-pos-2 {
    bottom: 150px;
    right: -10px;
  }
  .img-pos-1 {
    top: -420px;
    left: 0px;
  }
  #profile .gallery img {
    width: 50%;
  }
  #me-g .me {
    transform: translateY(100px) translateX(50%) rotate(5deg);
  }
  #me-g .me.moved {
    transform: translateY(0) translateX(50%) rotate(0deg);
  }
  .list-items {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  #instagram {
    grid-template-columns: repeat(3, 1fr);
  }
  #instagram img {
    width: 33.3333333333vw;
  }
  #instagram #instagram-4,
  #instagram #instagram-5,
  #instagram #instagram-6 {
    display: none;
  }
  .content {
    margin-top: 20px;
    grid-column: 1/13;
  }
  .section-sorter {
    margin: 120px 0 0 0;
  }
  .subpage-section-sorter {
    margin: 200px 0 0 0;
  }
  .video-button .b-white {
    background-color: #000;
    padding: 15px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "Euclid", sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 20px 10px 20px 0px;
    transition: all 0.5s ease;
  }
  .b-yellow,
  .b-white,
  .b-black {
    margin: 20px 10px 0px 0px;
  }
  .gallery {
    margin: 0;
    grid-row: 1/2;
  }
  .text {
    grid-row: 2/3;
  }
  .video-frame {
    grid-row: 1/2;
  }
  .filled {
    grid-row: 2/3;
    color: #000;
  }
  .shaddow {
    filter: none;
  }
  .shaddow button:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.406);
  }
}
@media (max-width: 650px) {
  .icon-container {
    width: 55px;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .info-hover:hover {
    margin-bottom: 40px;
  }
  #profile .gallery img {
    width: 80%;
  }
  #me-g .me {
    transform: translateY(100px) translateX(12%) rotate(5deg);
  }
  #me-g .me.moved {
    transform: translateY(0) translateX(12%) rotate(0deg);
  }
  .img-pos-2 {
    display: none;
  }
}
@media (max-width: 400px) {
  #profile .gallery img {
    width: 100%;
  }
  #me-g .me {
    transform: translateY(100px) translateX(0%) rotate(5deg);
  }
  #me-g .me.moved {
    transform: translateY(0) translateX(0%) rotate(0deg);
  }
  .img-pos-1 {
    width: 80px;
    height: 80px;
  }
  .nav-pos {
    margin: 110px auto 0px auto;
  }
  .hamburger {
    right: 20px;
  }
}/*# sourceMappingURL=mediaqueries.css.map */