$pj-yellow: #fffd63;
$width: 27px;
$ease: all 0.25s ease-out;
$delay: 300ms;

@media (max-width: 1000px) {
  .container {
    margin: 9vh 10vw 0 10vw;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  #me-g {
    .yellow {
      height: 280px;
    }
  }
  .underline-1_5,
  .underline-2,
  .underline-2_5,
  .underline-3,
  .underline-3_5,
  .underline-4,
  .underline-4_5,
  .underline-5,
  .underline-5_5,
  .underline-6,
  .underline-6_5,
  .underline-7,
  .underline-7_5,
  .underline-8,
  .underline-8_5,
  .underline-9,
  .underline-9_5,
  .underline-10_5,
  .underline-12,
  .underline-12_5,
  .underline-13,
  .underline-13_5,
  .underline-14,
  .underline-14_5,
  .underline-15 {
    &::before {
      // $width: 2px;
      content: none;
      // height: 15px;
      // top: 20px;
    }
  }
}

@media (max-width: 850px) {
  .c1-6,
  .c7-10,
  .c1-4,
  .c2-5,
  .c2-6,
  .c1-5,
  .c1-3,
  .c10-12,
  .c5-10,
  .c4-10,
  .c6-10,
  .c2-11 {
    grid-column: 1 / 13;
    padding: 0;
  }

  .img-pos-2 {
    bottom: 150px;
    right: -10px;
  }

  .img-pos-1 {
    top: -420px;
    left: 0px;
  }

  #profile {
    .gallery {
      img {
        width: 50%;
      }
    }
  }
  #me-g {
    .me {
      transform: translateY(100px) translateX(50%) rotate(5deg);
    }
    .me.moved {
      transform: translateY(0) translateX(50%) rotate(0deg);
    }
  }
  .list-items {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  #instagram {
    grid-template-columns: repeat(3, 1fr);
    img {
      width: 33.3333333333vw;
    }
    #instagram-4,
    #instagram-5,
    #instagram-6 {
      display: none;
    }
  }
  .content {
    margin-top: 20px;
    grid-column: 1/13;
  }

  .section-sorter {
    margin: 120px 0 0 0;
  }
  .subpage-section-sorter {
    margin: 200px 0 0 0;
  }

  .video-button {
    .b-white {
      background-color: #000;
      padding: 15px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      font-family: "Euclid", sans-serif;
      color: #fff;
      cursor: pointer;
      margin: 20px 10px 20px 0px;
      transition: all 0.5s ease;
    }
  }

  .b-yellow,
  .b-white,
  .b-black {
    margin: 20px 10px 0px 0px;
  }

  .gallery {
    margin: 0;
    grid-row: 1 / 2;
  }
  .text {
    grid-row: 2 / 3;
  }

  .video-frame {
    grid-row: 1 / 2;
  }
  .filled {
    grid-row: 2 / 3;
    color: #000;
  }
}

@media (max-width: 650px) {
  #profile {
    .gallery {
      img {
        width: 80%;
      }
    }
  }
  #me-g {
    .me {
      transform: translateY(100px) translateX(12%) rotate(5deg);
    }
    .me.moved {
      transform: translateY(0) translateX(12%) rotate(0deg);
    }
  }
  .img-pos-2 {
    display: none;
  }
}

@media (max-width: 400px) {
  #profile {
    .gallery {
      img {
        width: 100%;
      }
    }
  }
  #me-g {
    .me {
      transform: translateY(100px) translateX(0%) rotate(5deg);
    }
    .me.moved {
      transform: translateY(0) translateX(0%) rotate(0deg);
    }
  }

  .img-pos-1 {
    width: 80px;
    height: 80px;
  }

  .nav-pos {
    margin: 110px auto 0px auto;
  }

  .hamburger {
    right: 20px;
  }
}
