// positioning

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vw;
  z-index: 19;
}

.welcome-box {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-300px, -232.75px);
  z-index: 20;
  width: 500px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.406);

  h1 {
    margin-top: 0px;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1em;
  margin-top: 10vh;

  @media (max-width: 1000px) {
    margin: 0 10vw;
  }
}

.content {
  width: 100%;
  grid-column: 2 / 12;
  margin-top: 100px;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.nav-pos {
  max-width: 500px;
  margin: 120px auto 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.g-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.g-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
}

.g-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
}

.c1-5 {
  grid-column: 1 / 6;
}

.c-r1-4 {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  width: 100%;
}
.c1-4 {
  grid-column: 1 / 5;
  width: 100%;
}

.c1-2 {
  grid-column: 1 / 3;
  width: 100%;
}

.c3-4 {
  grid-column: 3 / 5;
  width: 100%;
}

.c2-5 {
  grid-column: 2 / 6;
}

.c1-6 {
  grid-column: 1 / 7;
}

.c1-3 {
  grid-column: 1 / 4;
}

.c4-6 {
  grid-column: 4 / 7;
}

.c5-6 {
  grid-column: 5 / 7;
  width: 100%;
}

.c5-10 {
  grid-column: 6 / 11;
}

.c6-10 {
  grid-column: 7 / 11;
}

.c7-10 {
  grid-column: 8 / 11;
}

.c1-10 {
  grid-column: 1 / 11;
}

.s-height {
  min-height: 50vh;
}

.gallery {
  margin: 80px 0;
}

.text {
  margin: auto 0;
}
