// sections

#start {
  width: 100%;
  grid-column: 1 / 13;
  height: 80vh;
  margin-top: 10vh;

  display: flex;
  background-color: #000;
}

// content

#bm {
  max-width: 300px;
  margin: auto;

  @media (max-width: 400px) {
    margin: 0 10vw;
  }
}

#profile {
  .text {
    p {
      line-height: 2;
    }
  }
  .gallery {
    img {
      width: 100%;
    }
  }
}

#portfolio {
  .gallery {
    img {
      width: 100%;
    }
  }
}

.filled {
  grid-row: 2 / 3;
  color: #fff;
}

video {
  grid-row: 2 / 3;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

#more {
  background-color: gray;
  height: 50vh;
}

#footer {
  background-color: #000;
  height: 50vh;
}
