//nav
.line {
  content: "";
  height: 50px;
  border: 2px solid black;
}

.navigation {
  transform: translateY(-200px);
  transition: all 0.5s ease;
}

.navigation.visible {
  transform: translateY(-100px);
}

// sections

#start {
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 13;
  height: 80vh;

  display: flex;
}

// content

#bm {
  max-width: 300px;
  margin: auto;

  @media (max-width: 400px) {
    margin: 0 10vw;
  }
}

#bm-2 {
  max-width: 100px;
  cursor: pointer;
}

#profile {
  position: relative;
  .text {
    p {
      line-height: 2;
    }
  }
  .gallery {
    img {
      width: 100%;
    }
  }
}

#portfolio {
  // opacity: 0;
  // transition: all 0.5s ease;
  .gallery {
    img {
      width: 100%;
    }
  }
}

.filled {
  grid-row: 2 / 3;
  color: #fff;
}

.video-frame {
  grid-row: 2 / 3;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

.video-teaser-frame {
  grid-row: 1 / 2;
  grid-column: 1 / 13;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

#more {
  background-color: gray;
  height: 50vh;
}

#footer {
  background-color: #000;
  height: 50vh;
}
