.underline-1_5::before {
  content: "";
  position: absolute;
  width: 40.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-2::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-2_5::before {
  content: "";
  position: absolute;
  width: 67.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-3::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-3_5::before {
  content: "";
  position: absolute;
  width: 94.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-4::before {
  content: "";
  position: absolute;
  width: 108px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-4_5::before {
  content: "";
  position: absolute;
  width: 121.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-5::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-5_5::before {
  content: "";
  position: absolute;
  width: 148.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-6::before {
  content: "";
  position: absolute;
  width: 162px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-6_5::before {
  content: "";
  position: absolute;
  width: 175.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-7::before {
  content: "";
  position: absolute;
  width: 189px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-7_5::before {
  content: "";
  position: absolute;
  width: 202.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-8::before {
  content: "";
  position: absolute;
  width: 216px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-8_5::before {
  content: "";
  position: absolute;
  width: 229.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-9::before {
  content: "";
  position: absolute;
  width: 243px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-9_5::before {
  content: "";
  position: absolute;
  width: 256.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-10::before {
  content: "";
  position: absolute;
  width: 270px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-10_5::before {
  content: "";
  position: absolute;
  width: 283.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-11::before {
  content: "";
  position: absolute;
  width: 297px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-11_5::before {
  content: "";
  position: absolute;
  width: 310.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-12::before {
  content: "";
  position: absolute;
  width: 324px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-12_5::before {
  content: "";
  position: absolute;
  width: 337.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-13::before {
  content: "";
  position: absolute;
  width: 351px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-13_5::before {
  content: "";
  position: absolute;
  width: 364.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-14::before {
  content: "";
  position: absolute;
  width: 378px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-14_5::before {
  content: "";
  position: absolute;
  width: 391.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-15::before {
  content: "";
  position: absolute;
  width: 378px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.underline-15_5::before {
  content: "";
  position: absolute;
  width: 418.5px;
  height: 20px;
  top: 30px;
  z-index: -1;
  background-color: #fffd63;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.expanded::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=underline.css.map */